.thg{
    position:absolute;
    top:1px;
    left:1px;
}
.thy{
    margin-top:20px;
    background-color: rgb(159, 151, 151);
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.sakum{
margin-bottom:100px ;
}
.blue{
    top: 50px;
    left: 87%;
    padding-bottom:20px;
}
.blue2{
    top: 50px;
    left: 87%;
    padding-bottom:20px;
}