* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body{
    font-family: "Poppins-Regular";
    font-size: 15px;
    color: white;
    margin: 0;
    background-image: url(../static/img/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centerBlock {
  display: table;
  margin: auto;
}

.logo{
    text-align: center;
    margin-top: 150px;
}

h1{
    color: black;
}
