<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css">
	<script src="https://kit.fontawesome.com/56573d38e6.js" crossorigin="anonymous"></script>
	<title>Montana</title>
</head>
<body>
	<div class="wrapper">
		<section class="fullscreen">
			<ul class="menu">
				<li><a href="index.html">Sakumlapa</a></li>
				<li><a href="istabas.html">Istabas</a></li>
				<li><a href="about.html">Kontakti</a></li>
				<li><a href="Administrator.html">Administrator</a></li>
				<li><a href="">Par mums</a></li>
				<li><a href="residence_order.html">Noteikumi</a></li>
			</ul>
			<div class="logo">
				<img src="../static/img/main_screen/logo.png" alt="" class="logo">
			</div>
			<div class="menu2">
				<a href="Signin.html" class="signin">sign in</a>
				<a href="Signup.html" class="signup">sign up</a>
				<a href="rezervation_room.html" class="button">Rezervet istabu</a>
			</div>
			<div class="slogan">
				<h1>Dzīve Ir Brīnišķīga</h1>
				<p>Ar Montana Resort</p>
			</div>			
		</section>



		<section class="about_content">
			
			<div class="description">
				
			<p class="p_about">Par Mums</p>
			<h1>Luksusa viesnīca ar Dabu</h1>
			<p class="par">Lieliska atpūta un skaisti dabas skati? Montānā tas viss ir! Mēs atradīsim jums istabu pēc jūsu vēlmēm, lai jūsu atvaļinājums būtu vēl intensīvāks. Paradīzes skati no jebkuras jūsu istabas daļas atstās jums neaizmirstamus iespaidusю. Ģimenei vai, iespējams, pāriem, mēs ņemsim vērā visas jūsu vēlmes.</p>
			</div>	
			<div class="about_photo">
				<img class="about_photo_1" src="../static/img/about/about_1.png" alt="">
				<img class="about_photo_2" src="../static/img/about/about_2.png" alt="">
			</div>

		</section>




		<section class="offers">
				<div class="head">
					<p>Mūsu piedāvājumi</p>
					<h1>Pastāvīgie piedāvājumi</h1>
				</div>
			<div class="offer_block">
				<div class="offer offer1">
					<img src="../static/img/offers/1.png" alt="">
					<p>Ietaupi 30% ar kluba karti</p>
					<ul>
						<li>Luksusa stāvoklis</li>
						<li>3 Pieaugušo un 2 bērnu izmērs</li>
						<li>Skats uz okeānu</li>
					</ul>
					<a class="book_now" href="rezervation_room.html">Rezervet</a>
				</div>

				<div class="offer offer2">
					<img src="../static/img/offers/2.png" alt="">
					<p>Ietaupi 10% ar kluba karti</p>
					<ul>
						<li>Luksusa stāvoklis</li>
						<li>3 Pieaugušo izmērs</li>
						<li>Kalnu un okeanu skats</li>
					</ul>
					<a class="book_now" href="rezervation_room.html">Rezervet</a>
				</div>

				<div class="offer offer3">
					<img src="../static/img/offers/3.png" alt="">
					<p>Ietaupi 20% ar kluba karti</p>
					<ul>
						<li>Luksusa stāvoklis</li>
						<li>2 pieaugušo izmērs</li>
						<li>Kalnu ainava</li>
					</ul>
					<a class="book_now" href="rezervation_room.html">Rezervet</a>
				</div>
			</div>

		</section>






		<section class="food">
			<div class="food_photo">
				<img class="food_photo_1" src="../static\img\food\2.png" alt="">
				<img class="food_photo_2" src="../static/img/food/2.png" alt="">
			</div>
			<div class="food_descriprion">
				<p class="p_ediens">Garšīgs Ediens</p>
				<h1>Pasniedzam svaigs un Garšīgs ēdiens</h1>
				<p class="food_info">Neticami garšīgs un sulīgs ēdiens tikai Montānā! Mūsu pavāri nopietni pieiet katra ēdiena pagatavošanai un ieliek tajā savu dvēseli. Mūsu ēdieni jums neapniks, jo katru dienu mums ir jauna ēdiena tēma, kas nozīmē, ka katru dienu jūs piedzīvosiet pilnīgi jaunas sajūtas!</p>
			</div>
		</section>







		<section class="footer">
			<div class="info">
			
				<div class="adress">
					<h1>Adrese</h1>
					<p>Rigas Valsts Tehnikums</p>
					<p>Latvia, Riga</p>
				</div>


				<div class="reservation">
					<h1>Rezervācija</h1>
					<p>+37128283339</p>
					<p>reservation@gmail.com</p>
				</div>

				<div class="navigation">
					<h1>Navigācija</h1>
					<p><a href="index.html">Sakumlapa</a></p>
					<p><a href="istabas.html">Istabas</a></p>
					<p><a href="about.html">Kontakti</a></p>
					<p><a href="">Par mums</a></p>
				</div>
			</div>

		</section>


	</div>
</body>
</html>