<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Montana</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>

<ul class="menu">
  <li class="selected"><a href="">Sākumlapa</a></li>
  <li><a href="">Istabas</a></li>
  <li class="lag"><a href="about.html">Kontakti</a></li>
  <li><a href="/base">Base</a></li>
</ul>

<div class="logo">
  <a href="#"><img src=" ../static/img/logo.png "></a>
</div>

<div class="button">
  <a href="reservation.html"><button class="btn" type="submit" name="submit" id="submit">Rezervēt Istabu</button></a>
</div>

<div class="slogan">
  
<h3>Dzīve Ir Brīnišķīga</h3>
<p>Ar Montana resort</p>
  
</div>

</body>
</html>