<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap2.css">
    <title>Instrukcija</title>
</head>
<body>
    <h1 class="text-lg-center">Lietotāju instrukcija</h1>
    <p class="text-lg-center">Tiklīdz būsiet iegājis mūsu mājaslapas lapā. Jūs redzēsiet vairākas pogas kā: Sākumlapa, Istabas, Kontakti, Administrators, Par mums, Noteikumi, Sign In, Sign Up, Rezervēt istabu.</p>
    <img src="../static/img/montana.png" class="mx-auto d-block" width="1000" height="500">
    <h2 class="text-lg-center">REZERVĀCIJA</h2>
    <p class="text-lg-center">Lai rezervētu istabu jums vajadzēs noklikšķināt us pogas Rezervēt istabu kura jūs aizvedīs uz lapu kur tiks parādīts visas mūsu istabas rezervācijas ispējas.</p>
    <img src="../static/img/rezervacija.png" class="mx-auto d-block" width="1000" height="500">
    <p class="text-lg-center">Kad būsiet izvēlējies ko gribat rezervēt jums būs atkārtoti jānospiež us pogas Rezervēt istabu. Kas atvērs popup kurā jums būs jaievada jūsu informācija. Kad to būsiet izdarījis spiežat pogu Rezervēt.</p>
    <img src="../static/img/room.png" class="mx-auto d-block" width="1000" height="500">
    <p class="text-lg-center">Ja vismaz viens lauks nav aizpildīts, tiks parādīts brīdinājums, ka šis lauks ir jāaizpilda.</p>
    <img src="../static/img/room2.png" class="mx-auto d-block" width="1000" height="500">
    <img src="../static/img/number.png" class="mx-auto d-block" width="1000" height="500">
    <p class="text-lg-center">Jāņem vērā arī tas, ka, ja vismaz vienā no laukiem ir šādas rakstzīmes "!#$%^&*()", tad tiks parādīts brīdinājums, ka šādas rakstzīmes nevar izmantot.</p>
    <h3 class="text-lg-center">Sign Up</h3>
    <p class="text-lg-center">Lai pierakstītos mājaslapā jums vajadzēs spiest uz pogas Sign Up. Kad to būsiet izdarījis jums vajadzēš atkārtoti nospiest uz Sign Up pogas kas izmetīs jums popup</p>
    <img src="../static/img/singup.png" class="mx-auto d-block" width="1000" height="500">
    <img src="../static/img/singup2.png" class="mx-auto d-block" width="1000" height="500">
    <p class="text-lg-center">Kad to būsiet izdarījis jums vajadzēs aizpildīt laukus ar saviem datiem. Atceraties to ja lauki nebūs aizpildīti jums izmetīs kļūdu. Aizpildot šos lauciņus jums vajadzēs nospiest Sign Up  un kad to būsiet izdarījis jūsu konts tiks saglabāts datubāzē.</p>
    <h4 class="text-lg-center">Sign In</h4>
    <p class="text-lg-center">Lai Pierakstītos mājaslapā jums būs jauzspiež us pogas Sign In Kas jums izmetīs šādu logu.</p>
    <img src="../static/img/Singin.png" class="mx-auto d-block" width="1000" height="500">
    <p class="text-lg-center">Kad tas tiks izdarīts, jums vajadzēs atkārtoti nospiesst pogu Sign In kas atvērs jaunu sadaļu.</p>
    <img src="../static/img/Singin2.png" class="mx-auto d-block" width="1000" height="500">
    <p class="text-lg-center">Šeit jūs aizpildat lauciņus ar informaciju kuru bijāt rakstijuši kad reģistrējāties. Kad to esat izdarījuši spiežāt Sign In un jūs būsiet pierakstijies.</p>
    <h5 class="text-lg-center">Noteikumi</h5>
    <p class="text-lg-center">Lai uzzinātu par mūsu viesnīcas noteikumiem jums būs jauzspiež us pogas Noteikumi kura atrodas sākuma lapā. kad to izdarīsiet atvērsies logs ar noteikumiem.</p>
    <img src="../static/img/Noteikumi.png" class="mx-auto d-block" width="1000" height="500">
    <h6 class="text-lg-center">Kontakti</h6>
    <p class="text-lg-center">Lai sazinātos ar mums jums vajadzēš nospiest uz pogas Kontakti kura atrodas sākuma lapā. Kad to būsiet izdarījis atvērsies logs ar visiem kontaktiem. .</p>
    <img src="../static/img/kontakti 094312.png" class="mx-auto d-block" width="1000" height="500">
    <div class="container">
        <div class="row">
            <div class="col text-center blue">
                <a href="../templates/index.html"><button class="btn btn-primary" type="submit" name="submit" id="submit">Back</button></a>
            </div>
        </div>
    </div>
</body>
</html>