<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap2.css">
  <link rel="stylesheet" href="../static/rezervation_room.css">
  <script src="../static/js/bootstrap.js"></script>
  <title>Room</title>
</head>
<body class="color">
<div class="container">
  <h1 class="col text-center">Room</h1>
</div>
<div class="row">
  <div class="col text-center">Standarta divvietīgs numurs liela divguļamā gultas</div>
  <div class="col text-center">Maksimāli 3 cilvēki</div>
  <div class="col"><img src="../static/img/image2.png" alt="" class="image2"></div>
  <div class="col text-center">450 eiro</div>
</div>
<div class="row">
  <div class="col text-center">Standarta vienvietīgs numurs 1 vienvietīga gulta</div>
  <div class="col text-center">Maksimāli 1 cilvēki</div>
  <div class="col"><img src="../static/img/image3.png" alt="" class="image2"></div>
  <div class="col text-center">750 eiro</div>
</div>
<div class="row">
  <div class="col text-center">Luksusa komplekts 1 liela divguļamā gulta</div>
  <div class="col text-center">Maksimāli 4 cilvēki</div>
  <div class="col"><img src="../static/img/image1.png" alt="" class="image2"></div>
  <div class="col text-center">150 eiro</div>
</div>
<div class="row">
  <div class="col text-center button2">
    <a href="../templates/index.html"><button class="btn" type="submit" name="submit" id="submit">Back</button></a>
  </div>
  <div class="col text-center button">
    <a href="../templates/residence_order.html"><button class="btn" type="submit" name="submit" id="submit">Continue</button></a>
  </div>
</div>
</body>
</html>