<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/rezervation_room.css">
    <title>Residence_order</title>
</head>
<body class="color">
    <h1 class="residence_order">Dzīvesvietas kārtība</h1>
    <p>Iedzīvotājiem ir pienākums:</p>
    <ul>
        <li>saudzīgi izturēties pret īpašumu un aprīkojumu;</li>
        <li>ievērot tīrību un noteikto kārtību;</li>
        <li>īpašuma nozaudēšanas vai bojājuma gadījumā atlīdzināt nodarītā kaitējuma izmaksas saskaņā ar aktuālo cenrādi;</li>
        <li>stingri ievērojiet ugunsdrošības noteikumus;</li>
        <li>izejot no istabas, aizveriet ūdens krānus, logus, izslēdziet gaismu, televizoru, elektroierīces, aizveriet istabu un atdodiet atslēgu.</li>
    </ul>
    <p>Ir aizliegts:</p>
    <ul>
        <li>smēķēt visā,</li>
        <li>traucēt iedzīvotāju mieru no pulksten 23.00 līdz 8.00;</li>
        <li>atstāt istabā svešiniekus, kā arī dot viņiem telpas atslēgu;</li>
        <li>uzglabāt lielgabarīta priekšmetus, viegli uzliesmojošus materiālus, ieročus;</li>
        <li>izmantot elektrisko katlu un elektrisko plīti;</li>
        <li>mēbeļu pārkārtošana telpā iespējama tikai ar administratora piekrišanu;</li>
        <li>turēt dzīvniekus, putnus.</li>
    </ul>
    <div class="row">
        <div class="col text-center button2">
            <a href="../templates/rezervation_room.html"><button class="btn" type="submit" name="submit" id="submit">Back</button></a>
        </div>
    <div class="col text-center button">
        <a href="../templates/index.html"><button class="btn" type="submit" name="submit" id="submit">Continue</button></a>
    </div>
</body>
</html>