<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/rezervation_room.css">
    <title>Rezervation room</title>
</head>
<body class="color">
    <div class="container">
        <h1 class="col text-center">Rezervation room</h1>
    </div>
        <div class="row">
            <div class="col text-center">Standarta divvietīgs numurs liela divguļamā gultas</div>
            <div class="col text-center">Maksimāli 3 cilvēki</div>
            <div class="col"><img src="../static/img/image2.png" alt="" class="image2"></div>
            <div class="col text-center">450 eiro</div>
            <div class="col text-center button">
                <a href="../templates/reservation.html"><button class="btn" type="submit" name="submit" id="submit">Rezervation istaba</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">Standarta vienvietīgs numurs 1 vienvietīga gulta</div>
            <div class="col text-center">Maksimāli 1 cilvēki</div>
            <div class="col"><img src="../static/img/image3.png" alt="" class="image2"></div>
            <div class="col text-center">750 eiro</div>
            <div class="col text-center button">
                <a href="../templates/reservation.html"><button class="btn" type="submit" name="submit" id="submit" href="../templates/reservation.html">Rezervation istaba</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">Luksusa komplekts 1 liela divguļamā gulta</div>
            <div class="col text-center">Maksimāli 4 cilvēki</div>
            <div class="col"><img src="../static/img/image4.png" alt="" class="image2"></div>
            <div class="col text-center">150 eiro</div>
            <div class="col text-center button">
                <a href="../templates/reservation.html"><button class="btn" type="submit" name="submit" id="submit" href="../templates/reservation.html">Rezervation istaba</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center button2">
                <a href="../templates/index.html"><button class="btn" type="submit" name="submit" id="submit">Back</button></a>
            </div>
        <div class="col text-center button">
            <button class="btn" type="submit" name="submit" id="submit">Continue</button>
        </div>
    </div>
</body>
</html>